.portfolio
    position: relative
    background: #101010
    &__wrapper
        display: flex
        right: 0
        top: 0
        position: absolute
        align-items: center
    &__items
        display: grid
        grid-template-columns: 670px 670px
        column-gap: 50px
        row-gap: 55px
        justify-content: center
    &__item
        height: 395px
        &:nth-child(2n)
            padding-top: 70px
    &__img
        height: 395px
        width: 670px
    &__button
        display: block
        margin: 0 auto
        margin-top: 132px
        width: 225px
        height: 65px
        background-color: #000
        border: 1px solid #fff
        font-family: Geometria
        font-style: normal
        font-weight: 800
        font-size: 18px
        color: #fff